body
{
    background-color:#222222;
    margin: 0;//this will remove gaps arounnd divs
}



@font-face {
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue-Regular.ttf);
}


@font-face {
    font-family: "AsapCondensed";
    src: url(fonts/AsapCondensed-Regular.ttf);
}



#page{
   background-color:#ffffff;
}


#header{
  display:flex;
  justify-content: center;
  margin: 0 auto;
  //max-width:1200px;
  height:50px;
  /*border: 1px white solid;*/
  /*background-color:#474747;*/
  background-color:#000000;
}


#storename{
 font-family:BebasNeue;
 font-size:2em;
}


#logo{
  background-color:#000000;
  padding:10px 30px;
}

.main{
  margin: 0 auto;
  max-width:1160px;
  border: 1px white solid;
  background-color:#ffffff;
  padding:20px;
  color:#000000;
  font-family:San-serif,Verdana,Arial;
  font-size:0.8em;
}


.paymentform{
  flex:1;
  padding:10px;
  background-color:#ffffff;'
}

.removeitem{
  color:#000000;
}


.productgrid{
  display:flex;
  flex-wrap:wrap;
  padding:0px;
  justify-content: space-evenly;
}


.productsgriditem{
  display:flex;
  flex-flow: column;
  justify-content: start;
  align-items:center;
  width:350px;
  height:400px;
  background-color:#ffffff;
  padding:0px;
  margin:10px;
}

.prodimgdiv{
  width:320px;
  height:320px;
  padding:0px 0px 10px;// top leftright bottom
}


.productgridimg{
   height: 100%; 
   width: 100%; 
   object-fit: contain;
}


.prodtitle{
  width:280px;
}

#footer{
  margin: 0 auto;
  //max-width:1200px;
  height:20vh;
  border 1px white solid;
  background-color:#222222;
  text-align:center;
  padding-top:10px;
  font-family:Arial;
  font-size:0.9em;
  color:#f0f0f0;
}


#social{
  display:flex;
  justify-content: center;
}


font.navigation{
  font-family: BebasNeue;
  font-size:1.5em;
  color:#f0f0f0;
}

font.navigation:hover{
  font-family: BebasNeue;
  font-size:1.5em;
  color:#ffffff;
}

#navigation{
  display:flex;
  gap:10px;
  justify-content:right;
  padding-right:20px;
  margin: 0 auto;
  //max-width:1200px;
  border 1px white solid;
  background-color:#222222;
  font-size:0.9em;
}



div.nav:hover{
    background-color:#333333;
    float:right;
    padding: 10px 8px 10px;
    color:#ffffff;
}


div.nav{
    background-color:#222222;
    float:right;
    /*padding: top leftright bottom*/
    padding: 10px 8px 10px;
    color:#111111;
}



a {text-decoration:none;color:#f0f0f0;font-family:San-serif,Verdana,Arial;font-size:0.9em;}
a:hover {text-decoration:none;color:#ffffff;font-family:San-serif,Verdana,Arial;font-size:0.9em;}
a img {border: none; } 


a.prodlink, a.login, a.account, a.trackorder, a.invoice {text-decoration:none;color:#000000;font-family:AsapCondensed,San-serif,Verdana,Arial;font-size:1.2em;border: none;}
a.prodlink:hover, a.login:hover, a.account:hover, a.trackorder:hover, a.invoice:hover {text-decoration:none;color:#000000;font-family:AsapCondensed,San-serif,Verdana,Arial;font-size:1.2em;border: none;}


a.viewcart {text-decoration:none;color:#000000;font-family:AsapCondensed,San-serif,Verdana,Arial;font-size:1.2em;}
a.viewcart:hover {text-decoration:none;color:#0000ff;font-family:AsapCondensed,San-serif,Verdana,Arial;font-size:1.2em;}
a.viewcart {border: none; } 


#noticediv,#results,#csvinputs,#rhubarboutput,#body
{
    margin: 0;
    padding: 4px;
    /*background-color: #FFC;*/
    background-color:#454545;
    font-family:San-serif,Verdana,Arial;
    font-size:0.8em;
    text-align:left;
    color:#a7a7a7;

}



table
{
    border-width: 0 0 0px 0px;
    border-spacing: 0;
    border-collapse: collapse;
}


table, td, th
{
    /*border-color: #600;*/
    border-color: #ffffff;
    border-style: solid;
    text-align:left;
    border-width: 1px 1px 0 0;

}




.products {
    width: 280px;
    height: 300px;
    //background: #252525;
    background-color:#454545;
    margin: 50px;
    //border: white solid 1px;
    padding:20px;
    display: inline-block;
    vertical-align:top;
    //float:left;
    text-align:left;
}


.productimage {
   width:180px;
   height:160px;
   padding-bottom:10px;
   #background-color:#ffffff;
}


//viewcart.php
.cartproddescrip{
  padding:20px;
}




/*Flexbox */
.container{
  display:flex;
  flex-wrap:wrap;
  margin: 0 auto;
  #border: 1px black solid;
}


.one, .two {
  flex: 1;
  min-width:300px;
  #border: 1px black solid;
  #margin: 4px;
  padding: 10px;
}




.checkoutpg-container{
  display:flex;
  flex-direction: row;
  flex-flow:row wrap;
  justify-content:center;
  background-color:#ffffff;
  padding:10px;
}




.totalstable{
  flex:2;
  min-width:56%;
  padding:0px;
  background-color:#ffffff;
}


/*Flexbox grid*/
/*view cart page*/
.grid-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
}




/*viewcart.php 6n means 6 columns */
/* 6th column from the left */
.grid-item:nth-child(6n){
  display:flex;
  align-items: center; /* This centers vertically */
  justify-content: center; /* This centers horizontally */
  #height: 28px;
  background-color:#ffffff;
  /* Set the width of the 5th column to 25% */
  width: 12%;
  #padding: 4px;
  text-align: center;
  #box-sizing: border-box;
  flex-grow: 1;
}


/*5th column from the left */
.grid-item:nth-child(6n-1) {
  display:flex;
  align-items: center; /* This centers vertically */
  justify-content: center; /* This centers horizontally */
  background-color:#ffffff;
  width: 11%;
  text-align: center;
  flex-grow: 1;

}


/*4th column from the left */
.grid-item:nth-child(6n-2) {
  display:flex;
  align-items: center; /* This centers vertically */
  justify-content: center; /* This centers horizontally */
  background-color:#ffffff;
  width: 21%;
  text-align: center;
  flex-grow: 1;

}


/*3rd column from the left */
.grid-item:nth-child(6n-3) {
  display:flex;
  align-items: center; /* This centers vertically */
  background-color:#ffffff;
  width: 36%;
  flex-grow: 1;
  padding-top:6px;
  padding-bottom:6px;
}


/*2nd column from the left */
.grid-item:nth-child(6n-4) {
  background-color:#ffffff;
  /* Set the width of the 2nd column from left*/
  width: 18%;
  flex-grow: 1;

}


/*First column from the left */
.grid-item:nth-child(6n-5) {
  display:flex;
  align-items: center; /* This centers vertically */
  justify-content: center; /* This centers horizontally */
  background-color:#ffffff;
  width: 2%;
  flex-grow: 1;
}





/* Style the text input boxes */
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

input[type="password"] {
  width: 98%;
  box-sizing: border-box;
}

/*Flexbox grid*/










/*Purchases/orders page*/


.orders-top{
  display:flex;
  flex-direction: row;
  background-color:#ffffff;
  padding:8px;
}




/* 4n means 4 columns */
/*4th column from the left*/
.orders-top-elements:nth-child(4n){
  #height: 28px;
  #background-color:#ff5555;
  width: 20%;
  padding:6px;
  #box-sizing: border-box;
}


/*3rd column from the left*/
.orders-top-elements:nth-child(4n-1) {
  #background-color:#00ff00;
  width: 46%;
  padding:6px;
  text-align:right;
}


/*2nd column from the left*/
.orders-top-elements:nth-child(4n-2) {
  #background-color:#283928;
  width: 22%;
  padding:6px;
}


/*1st column from the left*/
.orders-top-elements:nth-child(4n-3) {
  #background-color:#392839;
  width: 8%;
  padding:6px;
  text-align:right;

}




.orders-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  #align-items: center;
  justify-content: center;
}





.checkoutdescr{
  padding:10px;
  width:350px;
}


.checkoutimg{
  display:flex;
  min-width:120px;
  //padding:10px;
}

#purchquantity, #purchprice, #purchtotal{
  padding:40px 0px 20px;
}



#invoice, #orderdetails, #trackorder{
  padding:15px 0px 20px;
}




/* checkout.php */
/* 4n means 4 columns */
.order-item:nth-child(4n){
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:#ffffff;
  /* Set the width of the 4th column from left*/
  width: 10%;
  #box-sizing: border-box;
  padding: 10px 0px 10px;
}



.order-item:nth-child(4n-1) {
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:#ffffff;
/* Set the width of the 3th column from left */
  width: 10%;
  flex-grow: 1;
  padding: 10px 0px 10px;

}


.order-item:nth-child(4n-2) {
  display:flex;
  justify-content: start;
  align-items:center;
  background-color:#ffffff;
/* Set the width of the 2nd column from left */
  width: 50%;
  flex-grow: 1;
  #padding-top: 40px;
  padding: 0px 0px 0px;

}


.order-item:nth-child(4n-3) {
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:#ffffff;
/* Set the width of the 1st column from left */
  width: 20%;
  flex-grow: 1;
}


/*Item quantity circle overlay on top of product image on checkout.php*/
.itemcount{
   display:flex;
   justify-content: center;
   align-items:center;
   position: relative;
   top: -50px;
   left: -30px;
   height: 26px;
   width: 26px;
   padding: 5px 5px 5px;/* Increase middle value to make it wider */
   background-color:#898989;
   #border: 2px solid orange;
   border-radius: 50px;
   font-size:0.8em;
   color:#ffffff;
}


/*shipping address*/
.shipping-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:90%;
}


/* 2n means 2 columns */
.shipping:nth-child(2n){
  #height: 28px;
  #background-color:#00ffff;
  /* Set the width of the 3rd column to 25% */
  width: 75%;

  box-sizing: border-box;
}


.shipping:nth-child(2n-1) {
  #background-color:#00ff00;
/* Set the width of the 2nd column to 25% */
  width: 25%;
  flex-grow: 1;
  padding-left: 0px;
}



/* Style the text input boxes */
input[type="text"] {
  width: 98%;
  box-sizing: border-box;
}



.tracking-container{
  display:flex;
  flex-direction: row;
  background-color:#333333;
  width:100%;
  justify-content: space-evenly;

}


.tracking-orderinfo{
  display:flex;
  flex-direction: row;
  flex:2;
  background-color:#303030;
  padding:20px;
}




/* 2n means 2 columns */
.tracking-orderinfo-elements:nth-child(2n){
  #height: 28px;
  #background-color:#353535;
  /* Set the width of the 3rd column to 25% */
  width: 50%;
  padding:4px;
  #box-sizing: border-box;
}


.tracking-orderinfo-elements:nth-child(2n-1) {
  #background-color:#353535;
/* Set the width of the 2nd column to 25% */
  width: 50%;
  padding:4px;
  text-align:right;

}




.tracking-progress{
  display:flex;
  flex-direction: column;
  flex:4;
  background-color:#353535;
  padding:0px;
}


.tracking-item{
  display:flex;
  flex-direction: row;
  padding:4px;
  margin:4px;
  background-color:#303030;
}



/* 2n means 2 columns */
.tracking-detail:nth-child(2n){
  #height: 28px;
  #background-color:#00ffff;
  /* Set the width of the 3rd column to 25% */
  width: 50%;
  padding:4px;
  box-sizing: border-box;
  flex: 7;
}


.tracking-detail:nth-child(2n-1) {
  #background-color:#00ff00;
/* Set the width of the 2nd column to 25% */
  width: 50%;
  padding:4px;
  flex: 1;

}



/*shipping address*/

#saveshipaddrbtn{
  background-color:#f8f8f8;
  padding:4px;
  height:16px;
  width:32px;
  color:#000000;
  text-align:center;
}


#saveshipaddrbtn:hover{
  background-color:#9A9A9A;
  padding:4px;
  height:16px;
  width:32px;
  color:#000000;
  text-align:center;
  cursor:default;
}




#qtycontainer{
  display:flex;
  width:40%;
  align-items:center;
}


.qty{
  margin:0px 2px 0px;
  padding:0px 6px 0px;
  border: 1px solid white;
}

.less, .more, .qty{
  flex: 1;
  background-color:#f0f0f0;
  /*border: 1px black solid;*/
  font-size:1em;
  text-align:center;
  align-items:center;
  height:19px;
}



.less:hover, .more:hover{
  flex: 1;
  cursor: pointer;
  background-color:#afafaf;
  font-size:1em;
  text-align:center;
  align-items:center;
  height:19px;
}

#quantity{
 width:80px;
 text-align: center;
}







.carousel {
    display: flex;
    align-items: center;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    gap:6px;
    //overflow-x: scroll;
    width:500px;
}

.carousel-slide {
    width: 250px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


.displaycontainer{
   display:flex;
   justify-content:space-between;
   align-items: center;
}

#prevBtndisp,
#nextBtndisp, #rightBtn, #leftBtn {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 24px;
    //background: none;
    background-color:#ffffff;
    border: none;
    cursor: pointer;
    width:20px;
    height:150px;
    color:#000000;
    user-select: none; 
}



#prevBtndisp:hover,
#nextBtndisp:hover, #rightBtn:hover, #leftBtn:hover {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 24px;
    //background: none;
    background-color:#DFDFDF;
    border: none;
    cursor: pointer;
    width:20px;
    height:150px;
    color:#000000;
}


#prevBtndisp{
  //position: absolute;
  // top: 0px;
   //left: 0px;
}

#nextBtndisp{
  //position: absolute;
  // top: 0px;
  // left: 10px;
}

#prevBtndisp:focus,
#nextBtndisp:focus {
    outline: none;
}



